<h1>All our Flats (<%= @flats.count %>)</h1>

<div class="cards">
    <% @flats.each do |flat|%>
        <div class="card">
        <div class="top">
            <h2><%= flat.name%></h2>
            <p class="address"><%= flat.address%></p>
            <div class="nums">
              <div class="guests"><i class="fas fa-users"></i> <%= flat.number_of_guests%></div>
              <div class="price"><i class="fas fa-euro-sign"></i> <%= flat.price_per_night%></div>
            </div>
        </div>
        <div class="bottom">
        <%= link_to "More info", flat_path(flat)%>
        </div>
        </div>
    <% end%>
</div>
